<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
        </style>



<div id = "form">
<form>
  <span class = "input">
    <label>Username  </label>
    <input type = "text" name = "inputUsername" [(ngModel)]="inputUsername">
  </span>

  <span class = "input2">
    <label>Password  </label>
    <input type = "password" name = "inputPassword" [(ngModel)]="inputPassword">
  </span>

 
<br><br><br>
  <button id = "button" (click) = "addInfor()" >Sign In</button><br><br>

  <div class = "message">
    <label>Username and password boxes are {{auth}}.</label>
  </div>



</form>
</div>
<div id = "explanation">
    <a href="https://www.aspireforher.org/" target = "blank" >Member benefits?</a>
</div>
</body>
  