#header{
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    background-color:rgb(165, 84, 154);
    color: white;
    padding: 50px 0px 50px 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;

}
